In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/egypt-housing-rent/houses_data_v2.csv
/kaggle/input/egypt-housing-rent/description_v1.txt

In [29]:
data = pd.read_csv("/kaggle/input/egypt-housing-rent/houses_data_v2.csv")
data.head()

,House_Type,Size,Bedrooms,Bathrooms,Floor,Furnished,For_rent,Region,City,Price
0,Apartment,170,3,2,9,No,No,Zahraa Al Maadi,Cairo,1546400
1,Apartment,104,2,1,7,No,No,Nasr City,Cairo,950000
2,Apartment,160,3,2,1,No,No,Mostakbal City,Cairo,2100000
3,Apartment,160,3,3,Ground,No,No,New Cairo - El Tagamoa,Cairo,3994232
4,Apartment,145,3,2,3,No,No,New Cairo - El Tagamoa,Cairo,370000

In [30]:
data = pd.read_csv("/kaggle/input/egypt-housing-rent/houses_data_v2.csv")
data.head()

,House_Type,Size,Bedrooms,Bathrooms,Floor,Furnished,For_rent,Region,City,Price
0,Apartment,170,3,2,9,No,No,Zahraa Al Maadi,Cairo,1546400
1,Apartment,104,2,1,7,No,No,Nasr City,Cairo,950000
2,Apartment,160,3,2,1,No,No,Mostakbal City,Cairo,2100000
3,Apartment,160,3,3,Ground,No,No,New Cairo - El Tagamoa,Cairo,3994232
4,Apartment,145,3,2,3,No,No,New Cairo - El Tagamoa,Cairo,370000

In [31]:
 data["Floor"]= pd.to_numeric(data["Floor"],errors="coerce")

In [32]:
data.head()

,House_Type,Size,Bedrooms,Bathrooms,Floor,Furnished,For_rent,Region,City,Price
0,Apartment,170,3,2,9.0,No,No,Zahraa Al Maadi,Cairo,1546400
1,Apartment,104,2,1,7.0,No,No,Nasr City,Cairo,950000
2,Apartment,160,3,2,1.0,No,No,Mostakbal City,Cairo,2100000
3,Apartment,160,3,3,NaN,No,No,New Cairo - El Tagamoa,Cairo,3994232
4,Apartment,145,3,2,3.0,No,No,New Cairo - El Tagamoa,Cairo,370000

In [33]:
data["Floor"]= data["Floor"].fillna(0.0)

In [34]:
data.head()

,House_Type,Size,Bedrooms,Bathrooms,Floor,Furnished,For_rent,Region,City,Price
0,Apartment,170,3,2,9.0,No,No,Zahraa Al Maadi,Cairo,1546400
1,Apartment,104,2,1,7.0,No,No,Nasr City,Cairo,950000
2,Apartment,160,3,2,1.0,No,No,Mostakbal City,Cairo,2100000
3,Apartment,160,3,3,0.0,No,No,New Cairo - El Tagamoa,Cairo,3994232
4,Apartment,145,3,2,3.0,No,No,New Cairo - El Tagamoa,Cairo,370000

In [35]:
data= data.drop(["House_Type","Region","City"],axis = 1)

In [36]:
x= data.drop(["Price"],axis = 1)
y= data ["Price"]

In [37]:
obj_data = x.select_dtypes(include="object").columns

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for i in obj_data:
    x[i] = le.fit_transform(x[i])

In [38]:
x

       Size  Bedrooms  Bathrooms  Floor  Furnished  For_rent
0       170         3          2    9.0          0         0
1       104         2          1    7.0          0         0
2       160         3          2    1.0          0         0
3       160         3          3    0.0          0         0
4       145         3          2    3.0          0         0
...     ...       ...        ...    ...        ...       ...
23342   134         2          2    1.0          0         1
23343   176         3          3    0.0          0         1
23344    70         2          1    0.0          1         1
23345   115         3          1    2.0          0         1
23346   220         4          2    0.0          0         1

[23347 rows x 6 columns]

In [41]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors=4)
model.fit(x,y)
model.score(x,y)

0.5250672477478966

In [44]:
import pickle

with open("House_Price.pkl","wb") as f:
    pickle.dump(model, f)